html {
    background: black;
    color: white;
}

body {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    color-scheme: dark light;
}
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}
.game-square {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: red 1px solid;
}
button.hidden {
    display: none;
}

.game-end--wrapper {
    width: 100vw;
    height: 100vh;
    
    background: rgba(224, 2, 2, 0.3);
    z-index: 1;
}

.hidden--wrapper {
    display: none;
}